 .app-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
}


.Main {
  flex: 1;
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  } 

  
  /* .Sidebar { */
    /* flex: 0 0 250px; */
    /* background-color: #f0f4f9;
    height: 100% */
  /* } */
